<div class="hero">
  <img src="/struct/img/moss_hero.jpg" width="100%"/>
  <div class="title eleven columns">
    <h4 class="goudy">news. storytelling. community. technology.</h4>
    <h2>Moss Public Press.</h2>
  </div>
  <div class="services four columns">
    <h3>Sign up for our weekly newsletter.</h3>
    <form class="tinyletter" action="https://tinyletter.com/mosspublicpress" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/mosspublicpress', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">enter your email address:</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input class="btn" type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
  </div>
</div>
<div class="row" style="margin-top:20px;">
  <div class="ten columns">
    <h5>Moss Public Press is a startup news & technology organization based in the Pacific Northwest.</h5>
    <div class="row tumblr-blog">
      <div class="ten columns">
        <h3><a href="http://mosspublicpress.tumblr.com" target="blank">from our blog:</h3>
        <script type="text/javascript" src="http://mosspublicpress.tumblr.com/js"></script></a>

      </div>
    </div>
  </div>
  
  <div class="six columns">
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 5,
      interval: 30000,
      width: 'auto',
      height: 300,
      theme: {
        shell: {
          background: '#fafafa',
          color: '#8f8f8f'
        },
        tweets: {
          background: '#ffffff',
          color: '#8c8c8c',
          links: '#7990bd'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: true,
        behavior: 'all'
      }
    }).render().setUser('mosspublicpress').start();
    </script>
    <div class="clearfix" style="margin-bottom:50px;"></div>
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fmosspublicpress&amp;width=292&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23ccc&amp;stream=true&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:558px;" allowTransparency="true"></iframe>
  </div>
</div>
<div class="row" style="margin-top:20px;">
  <div class="sixteen columns" id="about">
    <h5>about moss public press:</h5>
    <p><strong>The goals:</strong> make an awesome blog, experiment with apps that focus on telling stories, release compilations of our work as ebooks and print books, and work to build a community that encourages and supports curiousity and skepticism.</p>
    <h4>get involved:</h4>
    <p>Interested in joining up with Moss Public Press as a contributor? Let us know. There may be intersnships and other volunteer opportunities available starting in the summer.</p>

    <h4>support our efforts:</h4>
    <p>We’re currently defining the marketing & outreach services we’ll offer in conjunction with our publication. We’d be excited to talk with you about how we can help with your outreach campaigns.</p>
  </div>
</div>
<div class="row" style="margin-top:20px;">
  <div class="sixteen columns" id="contact">
    <h5>tell us all the things:</h5>
  </div>
</div>