<div class="row">
  <div class="sixteen columns email-form">
    <div class="oh-hi">
      <div style="padding:30px 50px">
      <h2>Moss Public Press is getting<br> started, and you can help.</h2>
      <h3>Join the newsletter for updates on the full release<br> of mosspublicpress.com, project announcements, and<br> interesting news about the Pacific Northwest.</h3>
      <form class="tinyletter" action="https://tinyletter.com/mosspublicpress" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/mosspublicpress', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text"  name="email" id="tlemail" placeholder="enter your email" /><input type="hidden" value="1" name="embed"/><input class="btn" type="submit" value="Subscribe" /></form>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-top:20px;">
  <div class="ten columns projects">
    <div class="inside">
      <h3>our projects:</h3>
      <div class="project">
        <h2>Moss Blog on Tumblr</h2>
        <p>As Moss Public Press gets started, we're <a href="http://mosspublicpress.tumblr.com">blogging like crazy over at our Tumblr blog: mosspublicpress.tumblr.com.</a></p>
      </div>
      <div class="project">
        <h2>The Olympia News Lab</h2>
        <p><a href="http://olylab.com">OlyLab</a> is A collection of news sites for Olympia, WA, including:</p>
        <ul>
          <li><a href="http://olywiki.org"><strong>OlyWiki.org:</strong> a community authored wiki for Olympia and Thurston County.</a></li>
          <li><a href="http://olynews.org"><strong>OlyNews.org:</strong> a blog for Olympia and Thurston County.</a></li>
        </ul>
      </div>  
      <div class="project">
        <h2>Makers of the Pacific Northwest</h2>
        <p>We'll be working on blogging, filming, and compiling general information about making and hacking in the northwest. Expect interviews with makers about who they are and why they do what they do, info on area hacker/maker spaces, and daily news updates.</p>
        <p><strong>Check out our video of the 2012 Seattle Mini Maker Faire:</strong></p>
        <div class="fitvids"><iframe src="http://player.vimeo.com/video/43745315" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/43745315">Seattle Mini Maker Faire</a> from <a href="http://vimeo.com/mosspublicpress">moss public press</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
        </div>
      </div> 

      <div id="about">
        <h5>About Moss Public Press:</h5>
        <p><strong>The goals:</strong> make an awesome blog, experiment with apps that focus on telling stories, release compilations of our work as ebooks and print books, and work to build a community that encourages and supports curiousity and skepticism.</p>
        <p><strong>Get involved:</strong> interested in joining up with <em>Moss Public Press</em> as a contributor? Let us know.</p>
        <p><strong>Support our efforts:</strong> we’re currently defining the marketing & outreach services we’ll offer in conjunction with our publication. We’d be excited to talk with you about how we can help with your outreach campaigns.</p>
      </div>
    </div>
  </div>
  <div class="six columns">
    <div class="inside">
      <h4 class="interweb">Around the interwebs:</h3>
      <p>Follow our <a href="http://mosspublicpress.tumblr.com">Tumblr blog</a></p>
      <p>Watch our videos on <a href="http://vimeo.com/mosspublicpress">Vimeo</a> & <a href="http://www.youtube.com/mosspublicpress">YouTube</a></p>
      <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fmosspublicpress&amp;width=292&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border: 1px solid #ededed; margin-top:10px; overflow:hidden; width:100%; height:62px;" allowTransparency="true"></iframe>
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 5,
        interval: 30000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#ffffff',
            color: '#8f8f8f'
          },
          tweets: {
            background: '#ffffff',
            color: '#8c8c8c',
            links: '#7990bd'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: true,
          behavior: 'all'
        }
      }).render().setUser('mosspublicpress').start();
      </script>
      <div class="clearfix" style="margin-bottom:50px;"></div>
    
      <h2 style="margin-top:40px;">Contact us.</h2>
      <p style="font-size: 12px; margin-top:5px;">Ask us questions. Send us love/hate letters. Provide constructive criticism. Let us know if you want to contribute writing or multimedia content.</p><p style="font-size: 12px;">Or, tell us something unexpected.</p>
      <form action="/" method="post" id="contact" class="center-box">
        <label for="name">Your Name:</label>
        <input class="text" type="text" name="name">
        <label for="email">Your email:</label>
        <input class="text" type="text" name="email">
        <label  for="to">Your message:</label>
        <textarea name="message"></textarea>
        <input class="btn" type="submit" value="Send">
      </form>
    </div>  
  </div>
</div>