<div class="hero">
  <img src="/struct/img/moss_hero.jpg" width="100%"/>
  <div class="eleven columns">
    <h2>Welcome to Moss Public Press.</h2>
  </div>
  <div class="four columns">
    <h3>This is some sidebar stuff.</h3>
    <p>this is some stuff. this is some stuff. this is some stuff.</p>
  </div>
</div>
